<body>

  <h1>Nuestra Historia</h1>
  <div class="contenedor">

    <div>
      <p class="historia">
        Fundada por Rosa María Aparicio, la motivación de Sprencia es clara: mejorar el día a día de los séniores. Esta
        empresa
        ha sido una de las seleccionadas por la Cámara de Comercio de Valencia para formar parte de su programa de
        aceleración
        de startups, convirtiéndose en uno de los proyectos estrella de la edición. En los primeros meses de vida del
        proyecto,
        ya son varios los organismos que se han interesado por esta empresa. ¿Por qué? Por la oportunidad de negocio
        ante
        la
        que
        se encuentran y por sus posibilidades de mejorar la sociedad. En 2050, el número de personas mayores de 60 años
        será
        superior al de adolescentes y jóvenes de 15 a 24 años de edad. Ya en la actualidad, por primera vez en la
        historia,
        el
        número de personas mayores de 65 años ha superado al de los niños menores de 5 años. ¿Cuántas necesidades va a
        tener
        por
        cubrir este segmento poblacional en los próximos años? De hecho, ya las tiene y no están siendo satisfechas. La
        sociedad
        solo mira a los séniores como personas dependientes a las que prestarles servicios médicos y de cuidado. Pero ¿y
        aquellos séniores que comienzan su segunda etapa vital y gozan de una buena salud, de amplio tiempo libre y de
        mayor
        capacidad económica? Mientras la mayor parte de las empresas solo hablan de millennials y de generación Z, hay
        toda
        una
        generación que está deseando ser impactada por proyectos dirigidos a ellos. Estamos, además, ante grandes
        consumidores.
        Si la economía de los séniores fuera una nación, sería la tercera economía más grande del mundo, solo por detrás
        de
        Estados Unidos y China. En Sprencia han sabido ver esta oportunidad de mercado y ya están trabajando en ella con
        la
        convicción de que cuando los otros actores empresariales miren más allá de los jóvenes sobreimpactados a los que
        se
        dirigen y descubran las posibilidades de este mercado, en Sprencia ya sean los aliados de referencia de este
        sector.
      </p>
    </div>

    <h2>Informacion Aportada</h2>

    <div>
      <p class="Informacion-aportada">
        ¿Cómo va ser Sprencia el player de referencia del sector sénior? Ofreciendo a los séniores actividades
        formativas
        atractivas con las que mejorar su día a día. Esta misión se va a materializar en un marketplace de actividades
        formativas presenciales diseñadas especialmente para el público sénior. Que las actividades sean de tipo
        formativas
        es
        una decisión tomada a partir de la investigación de mercado que han realizado, en la que los resultados
        obtenidos
        son
        muy clarificadores: las actividades que los séniores más consumen y más buscan son actividades formativas. Así,
        apostando por este tan creciente como admirable segmento de población, Sprencia va a llevar a cabo su visión:
        ser
        el
        primer pensamiento de las personas mayores en el primer día de su segunda vida.
      </p>
    </div>
  </div>

  <div class="logo-frase">
    <div>
      <img class="logo-img" width="500px" height="250px" src="../../assets/Proyecto pre-final Sprencia (3).png"
        alt="Logo de Sprencia">
    </div>
    <div class="frase-contenedor">
      <h3>Una apliacion fantastica para que aprender sea divertido y facil.</h3>
    </div>
  </div>

  <aside class="iconos">
    <img class="icon-fb" width="100px" height="100px" src="../../assets/Proyecto pre-final Sprencia (2).png"
      alt="Icono de facebook">
    <img class="icon-tw" width="100px" height="100px" src="../../assets/Proyecto pre-final Sprencia (4).png"
      alt="Icono de Twitter">
    <img class="icon-li" width="100px" height="100px" src="../../assets/Proyecto pre-final Sprencia (5).png"
      alt="Icono de LinkeIn">
  </aside>
</body>