<h1>Formulario de contacto</h1>
<div>
  <h2>Formulario de contacto para empresas que quieran ser proveedoras de actividades</h2>
</div>

<div>
  <form>
    <div class="nombreEmpresa">
      <label>Nombre de la empresa</label>
      <input type="text" name="nombreEmpresa" id="nombreEmpresa" formControlName="nombreEmpresa">
    </div>

    <div class="web">
      <label>Web</label>
      <input type="text" name="web" id="web" formControlName="web">
    </div>

    <div class="localizacion">
      <label>Localizacion</label>
      <input type="text" name="localizacion" id="localizacion" formControlName="localizacion">
    </div>

    <div class="categoria">
      <label>Categoria</label>
      <input type="text" name="categoria" id="categoria" formControlName="categoria">
    </div>

    <div class="actividad">
      <label>Actividad concreta que desarrollan</label>
      <input type="text" name="actividadDev" id="actividadDev" formControlName="actividadDev">
    </div>

    <div class="question">
      <label>¿Por qué quieren ser proveedores?</label>
      <input type="text" name="question" id="question" formControlName="question">
    </div>

    <div class="email">
      <label>Email de contacto</label>
      <input type="text" name="email" id="email" formControlName="email">
    </div>

    <div class="numero">
      <label>Numero de contacto</label>
      <input type="text" name="numero" id="numero" formControlName="numero">
    </div>


    <div>
      <button type="reset" class="reset">Reset</button>
    </div>

    <div>
      <button class="btn-send" type="submit">Enviar</button>
    </div>

  </form>
</div>