<header>
  <div class="nav-wrapper">
    <div class="logo-container">
      <h1 [routerLink]="['/home']">Sprencia</h1>
    </div>
    <nav>
      <input class="hidden" type="checkbox" id="menuToggle">
      <label class="menu-btn" for="menuToggle">
        <div class="menu"></div>
        <div class="menu"></div>
        <div class="menu"></div>
      </label>
      <div class="nav-container">
        <ul class="nav-tabs">
          <i [routerLink]="['actividades/new']" *ngIf="usersService.isAdmin()">🙎‍♂️ admin</i>
          <li class="nav-tab" [routerLink]="['/home']">Home</li>
          <li class="nav-tab" [routerLink]="['/login']">Login</li>
          <li class="nav-tab" [routerLink]="['/register']">Registro</li>
          <li class="nav-tab" [routerLink]="['/listado-actividades']">Actividades</li>
          <li class="nav-tab" *ngIf="usersService.isAdmin()" (click)=" logOut()">Cerrar Sesion</li>
        </ul>
      </div>
    </nav>
  </div>
</header>



<router-outlet></router-outlet>