<!-- RuLiweb - ruliweb.it
Inspired from developer @jeffcadampog 
https://codepen.io/jeffcadampog/pen/jvGGWe -->

<html>

<body style="margin-top:250px;">
  <div class="jc-elevator">
    <div id="myBtn" class="jc-floor">
      <h3>404</h3>
    </div>
    <div id="doors" class="jc-doors">

      <div>Ops... <br>Piso equivocado</div>
      <div>Regresa a <a class="class-link" [routerLink]="['/home']">Sprencia</a></div>
    </div>

    <div class="jc-switch">
      <a [routerLink]="['/home']"></a>
      <a [routerLink]="['/home']"></a>
    </div>
  </div>
</body>

</html>