form {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 2rem;
}

input {
  width: 90px;
  margin-left: 1rem;
}

label {
  margin-left: 1rem;
  text-align: center;
  color: #0D99FF;
  font-weight: bold;
}

.btn {
  margin-left: 1rem;
  height: 30px;
  background-color: #0D99FF;
  color: white;
}

.btn:hover {
  background-color: #0c89e2;
}

p {
  color: crimson;
  font-size: 0.8rem;
}