<body>
  <!-- <header class="header">
    <h1>Bienvenidos a Sprencia</h1>
  </header> -->
  <div class="contenedor-general">
    <div>
      <img class="logo-img" width="700px" height="400px" src="../../assets/Proyecto pre-final Sprencia (3).png"
        alt="Logo de Sprencia">
    </div>
    <div class="frase-contenedor">
      <h3>Una apliacion fantastica para que aprender sea divertido y facil.</h3>
    </div>
  </div>

  <div class="btn-contenedor">
    <button [routerLink]="['/login']">Empezar</button>
  </div>

  <aside class="iconos">
    <img class="icon-fb" width="100px" height="100px" src="../../assets/Proyecto pre-final Sprencia (2).png"
      alt="Icono de facebook">
    <img class="icon-tw" width="100px" height="100px" src="../../assets/Proyecto pre-final Sprencia (4).png"
      alt="Icono de Twitter">
    <img class="icon-li" width="100px" height="100px" src="../../assets/Proyecto pre-final Sprencia (5).png"
      alt="Icono de LinkeIn">
  </aside>

  <footer>
    <div class="footer">
      <p class="footer-1" [routerLink]="['/sobre-nosotros']">¿ Quienes somos ?</p>
      <p class="footer-2" [routerLink]="['/quiero-ser-proveedor']">Quiero ser proveedor</p>
    </div>
  </footer>
</body>